.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .full-list {
    // width: 50vh;
  }

  .delete-btn {
    opacity: 0;
    margin-left: 4px;
  }

  tr {
    &:hover {

      .delete-btn {
        opacity: 1;
      }
    }
  }

  .multi-upload-container {
    width: 80%;
    margin-bottom: 20px;
  }

  .multi-upload {
    border-radius: 2px;
    padding: 20px;
  }

  .file-list-container {
    display: flex;
    flex-direction: column;
    padding: 12px;
  }

  .text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .results-btn {
      margin-top: 12px;
    }
  }
}