.stats {
    .cards {
        width: 100%;

        &>* {
            height: 100%;
        }

        .statcard {
            height: max-content;

            .percentage {
                display: flex;
                align-items: center;
                flex-direction: column;

                .percentage-label {
                    padding-bottom: 16px;
                    font-size: larger;
                }
            }
        }
    }
}