.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 89vh;

  .text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .input-container {
    position: relative;
    width: 100%;

    .input {
      width: 100%;
      height: 200px;
      font-size: 18px;
      padding: 10px;
      border: none;
      border-radius: 10px;
      outline: none;

      & + .underline {
        transform: scaleX(0);
        transform-origin: bottom left;
        transition: transform 0.2s ease-in-out;
      }

      &:focus {
        + .underline {
          transform: scaleX(1);
        }
      }
    }

    .underline {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #1890ff;
    }
  }

  .bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;

    .button {
      background-color: #1890ff;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      font-size: 18px;
      cursor: pointer;
    }

    .tags-column {
      align-items: center;

      .tags-label {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
  }
}
