.navbar-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .left-group {
    flex-grow: 4;

    .navbar {
      width: 100%;
      display: flex;
    }
  }

  .right-group {
    flex-grow: 1;
    width: fit-content;
    display: flex;
    align-items: center;
    align-content: center;

    .login-btn {
      padding-left: 16px;
    }

    .theme-switch {
      width: min-content;
    }
  }
}