html {
  height: 100%;
}

body {
  margin: 0 !important;
  height: 100%;

  #root {
    height: 100%;

    .layout {
      height: 100%;
    }
  }

  .app {
    overflow-y: auto;
    overflow-x: auto;
    padding: 0px 64px 0px 64px;
  }
}