body {
  margin: auto;
}

.app {
  width: 80%;
  margin: auto;
  height: auto;
}

.layout {
  width: 100%;
  padding: 0 50px;
  background-color: white;
}

.layout-header {
  padding: 0 50px;
  width: 100%;
}

.dark {
  color: white;
}